# Laravel caches
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

# Node / build
node_modules
npm-debug.log
dist
build

# VCS
.git
.gitignore

# Env files
.env
.env.testing

# Docker
docker-compose*.yml

# IDE
.idea
.vscode

# Docs
*.md

# Tests
tests/
