name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  bump_release_and_publish:
    name: Bump Release & Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Verify tags (optional, but great for debugging)
        run: |
          echo "Local tags:"
          git tag

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Get latest release tag
        id: get_latest
        run: |
          latest=$(git tag --list 'v*' --sort=-v:refname | head -n 1)
          if [ -z "$latest" ]; then
            latest="v0.0.0"
          fi
          echo "latest=$latest" >> $GITHUB_OUTPUT

      - name: Increment patch version
        id: bump_version
        run: |
          version=${{ steps.get_latest.outputs.latest }}
          version=${version#v}
          IFS='.' read -r major minor patch <<< "$version"

          patch=$((patch + 1))
          new_version="v$major.$minor.$patch"

          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Create new Git tag
        run: |
          git tag ${{ steps.bump_version.outputs.new_version }}
          git push origin ${{ steps.bump_version.outputs.new_version }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.bump_version.outputs.new_version }}
          name: ${{ steps.bump_version.outputs.new_version }}
          draft: false
          prerelease: false

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: adaviloper/together
          tags: ${{ steps.bump_version.outputs.new_version }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/php/Dockerfile.prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            HOST_UID=1000
            HOST_GID=1000
            COMPOSER_DEV=false

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/adaviloper/together
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

